In previous exercises, we have preloaded the data for you using the pandas function `read_csv()`. Now, it's your turn! Your job is to read the World Bank population data you saw earlier into a DataFrame using `read_csv()`. The file has been downloaded as `world_population.csv`.

The next step is to reread the same file, but simultaneously rename the columns using the `names` keyword input parameter, set equal to a list of new column labels. You will also need to set `header=0` to rename the column labels.

Finish up by inspecting the result with `df.head()` and `df.info()` in the IPython Shell.

`pandas` has already been imported and is available in the workspace as `pd`.

In [1]:
import pandas as pd

In [4]:
FILE_LOCATION = "./world_population.csv"

In [5]:
# Read in the file: df1
df1 = pd.read_csv(FILE_LOCATION)

In [6]:
new_labels = ['year', 'population']

In [7]:
df2 = pd.read_csv(FILE_LOCATION, header=0, names=new_labels)

In [8]:
print(df1)
print(df2)

       1818  01  01.1  1818.004   -1  1
0      1818   1     2  1818.007   -1  1
1      1818   1     3  1818.010   -1  1
2      1818   1     4  1818.012   -1  1
3      1818   1     5  1818.015   -1  1
4      1818   1     6  1818.018   -1  1
5      1818   1     7  1818.021   -1  1
6      1818   1     8  1818.023   39  1
7      1818   1     9  1818.026   -1  1
8      1818   1    10  1818.029   -1  1
9      1818   1    11  1818.031   -1  1
10     1818   1    12  1818.034   -1  1
11     1818   1    13  1818.037   22  1
12     1818   1    14  1818.040   -1  1
13     1818   1    15  1818.042   -1  1
14     1818   1    16  1818.045   -1  1
15     1818   1    17  1818.048   46  1
16     1818   1    18  1818.051   59  1
17     1818   1    19  1818.053   63  1
18     1818   1    20  1818.056   -1  1
19     1818   1    21  1818.059   -1  1
20     1818   1    22  1818.062   -1  1
21     1818   1    23  1818.064   -1  1
22     1818   1    24  1818.067   -1  1
23     1818   1    25  1818.070   15  1
24     1818   1    26  1818.073   -1  1
25     1818   1    27  1818.075   -1  1
26     1818   1    28  1818.078   23  1
27     1818   1    29  1818.081   12  1
28     1818   1    30  1818.083   -1  1
29     1818   1    31  1818.086   -1  1
...     ...  ..   ...       ...  ... ..
72073  2015   5     2  2015.332   24  0
72074  2015   5     3  2015.335   28  0
72075  2015   5     4  2015.337   68  0
72076  2015   5     5  2015.340   68  0
72077  2015   5     6  2015.343   82  0
72078  2015   5     7  2015.346   95  0
72079  2015   5     8  2015.348  101  0
72080  2015   5     9  2015.351   92  0
72081  2015   5    10  2015.354  107  0
72082  2015   5    11  2015.357  109  0
72083  2015   5    12  2015.359  112  0
72084  2015   5    13  2015.362  113  0
72085  2015   5    14  2015.365  109  0
72086  2015   5    15  2015.368   83  0
72087  2015   5    16  2015.370   69  0
72088  2015   5    17  2015.373   59  0
72089  2015   5    18  2015.376   66  0
72090  2015   5    19  2015.379   51  0
72091  2015   5    20  2015.381   39  0
72092  2015   5    21  2015.384   33  0
72093  2015   5    22  2015.387   48  0
72094  2015   5    23  2015.389   48  0
72095  2015   5    24  2015.392   52  0
72096  2015   5    25  2015.395   45  0
72097  2015   5    26  2015.398   35  0
72098  2015   5    27  2015.400    9  0
72099  2015   5    28  2015.403    8  0
72100  2015   5    29  2015.406   22  0
72101  2015   5    30  2015.409   19  0
72102  2015   5    31  2015.411   17  0

[72103 rows x 6 columns]
                    year  population
1818 1 2  1818.007    -1           1
       3  1818.010    -1           1
       4  1818.012    -1           1
       5  1818.015    -1           1
       6  1818.018    -1           1
       7  1818.021    -1           1
       8  1818.023    39           1
       9  1818.026    -1           1
       10 1818.029    -1           1
       11 1818.031    -1           1
       12 1818.034    -1           1
       13 1818.037    22           1
       14 1818.040    -1           1
       15 1818.042    -1           1
       16 1818.045    -1           1
       17 1818.048    46           1
       18 1818.051    59           1
       19 1818.053    63           1
       20 1818.056    -1           1
       21 1818.059    -1           1
       22 1818.062    -1           1
       23 1818.064    -1           1
       24 1818.067    -1           1
       25 1818.070    15           1
       26 1818.073    -1           1
       27 1818.075    -1           1
       28 1818.078    23           1
       29 1818.081    12           1
       30 1818.083    -1           1
       31 1818.086    -1           1
...                  ...         ...
2015 5 2  2015.332    24           0
       3  2015.335    28           0
       4  2015.337    68           0
       5  2015.340    68           0
       6  2015.343    82           0
       7  2015.346    95           0
       8  2015.348   101           0
       9  2015.351    92           0
       10 2015.354   107           0
       11 2015.357   109           0
       12 2015.359   112           0
       13 2015.362   113           0
       14 2015.365   109           0
       15 2015.368    83           0
       16 2015.370    69           0
       17 2015.373    59           0
       18 2015.376    66           0
       19 2015.379    51           0
       20 2015.381    39           0
       21 2015.384    33           0
       22 2015.387    48           0
       23 2015.389    48           0
       24 2015.392    52           0
       25 2015.395    45           0
       26 2015.398    35           0
       27 2015.400     9           0
       28 2015.403     8           0
       29 2015.406    22           0
       30 2015.409    19           0
       31 2015.411    17           0

[72103 rows x 2 columns]